@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.contact-bg {
    background-color: #343a40;
}

.aboutimg {
    max-width: 300px;
    max-height: 300px;
}

.portfolio-padding {
    position: absolute;
    bottom: 5%;
}

.bg-blue {
    background-color: #2d73ac;
}

.blue {
    color: #2d73ac!important;
}

.orange {
    color: #faa161;
}

h3 {
    text-decoration: underline;
}

a.text-white:hover,
a.text-white-50:hover {
    color: #faa161!important;
}

i.text-white {
    color: #faa161!important;
}

.footer-font {
    font-size: 12px;
}

.footer-margin {
    height: 48px;
}

span .blue:hover {
    color: #faa161!important;
}

div .btn:hover {
    background-color: #faa161;
    color: black!important;
}